---
import SemcheckIcon from "~/components/icons/semcheck.astro";
---

<div
  class="flex items-center justify-between p-4 text-2xl font-medium text-black md:p-16 md:text-3xl"
>
  <!--- left side -->
  <a class="hover:underline" href="/">
    <div class="flex items-center">
      <SemcheckIcon class="size-20" />
      <span>Semcheck</span>
    </div>
  </a>

  <!--- right side -->
  <div class="flex flex-row space-x-4">
    <a class="hover:underline" href="https://github.com/rejot-dev/semcheck">GitHub</a>
  </div>
</div>
